**/App/*
!**/App/user_mobile_app/
**/App/user_mobile_app/*
!**/App/user_mobile_app/
!**/App/user_mobile_app/lib/
!**/App/user_mobile_app/lib/**

!**/App/visualize_ecg_pc_app/
**/App/visualize_ecg_pc_app/*
!**/App/visualize_ecg_pc_app/
!**/App/visualize_ecg_pc_app/lib/
!**/App/visualize_ecg_pc_app/lib/**

**/Detect_posture/dataset
**/Detect_posture/helper
**/Detect_posture/models
*.csv

**/Node_M_data_aquire/*
!**/Node_M_data_aquire/NODE_M_dataAquire/
**/Node_M_data_aquire/NODE_M_dataAquire/*
!**/Node_M_data_aquire/NODE_M_dataAquire/Core/
!**/Node_M_data_aquire/NODE_M_dataAquire/Core/**

**/Node_S_new_2/*
!**/Node_S_new_2/Node_S_new_2/
**/Node_S_new_2/Node_S_new_2/*
!**/Node_S_new_2/Node_S_new_2/Core/
!**/Node_S_new_2/Node_S_new_2/Core/**
